#define RPI364

#include "../../../../arm/boot/dts/bcm2710-rpi-cm3.dts"

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/bcm2835.h>

#define ALT(x) BCM2835_FSEL_ALT ## x
#define DIR(x) BCM2835_FSEL_GPIO_ ## x                   
#define PULL(x) BCM2835_PUD_ ## x

/ {
	chosen {
    		bootargs = "cma=128M";
	};

	leds {
		status = "disabled";
	};
};

&gpio {

	spi0_pins: spi0_pins {
		brcm,pins = <9 10 11>;
		brcm,function = <ALT(0)>;
	};

	spi0_cs_pins: spi0_cs_pins {
		brcm,pins = <8>;
		brcm,function = <DIR(OUT)>;
	};
	
	tft_pins: tft_pins {
		brcm,pins = <7>;
		brcm,function = <DIR(IN)>;
		brcm,pull = <PULL(UP)>;
	};
	
	sdio_pins: sdio_pins {
		brcm,pins = <22 23 24 25 26 27>;
		brcm,function = <ALT(3)>;
		brcm,pull = <PULL(OFF) PULL(UP) PULL(UP) PULL(UP) PULL(UP) PULL(UP)>;
	};
	
	sdio_vss2: sdio_vss2 {
		brcm,pins = <33>;
		brcm,function = <DIR(IN)>;
		brcm,pull = <PULL(DOWN)>;
	};
	
};

&uart0 {
	pinctrl-0 = <&uart0_gpio14 &uart0_ctsrts_gpio16>;
	status = "okay";
};

&uart1 {
	status = "disabled";
};

&spi0 { // TODO: just &spi if using bcm2835
	
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins &spi0_cs_pins>;
	cs-gpios = <&gpio 8 GPIO_ACTIVE_LOW>;
	dmas = <&dma 6>, <&dma 7>;
	dma-names = "tx", "rx";
	status = "okay";
	
	/delete-node/ spidev@0;
	/delete-node/ spidev@1;
	
	touchscreen: tinyft8@0{
		compatible = "ftdi,ft8xx";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&tft_pins>;
		spi-max-frequency = <100000000>;
		interrupt-parent = <&gpio>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
		irq-gpios = <&gpio 7 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <320>;
		touchscreen-size-y = <240>;
		status = "okay";
	};

};

&sdhci {
	compatible = "brcm,bcm2835-sdhci";
	reg = <0x7e300000 0x100>;
	interrupts = <2 30>;
	clocks = <&clocks BCM2835_CLOCK_EMMC>;
	compatible = "brcm,bcm2835-sdhci";
	pinctrl-names = "default";
	pinctrl-0 = <&sdio_pins &sdio_vss2>;
	bus-width = <0x4>;
	status = "okay";
	removable;
};

&pwm {
	status = "disabled";
};


// ----- from vc4-kms-v3d-overlay.dts -----

&i2c2 {
	status = "okay";
};


&cprman {
	status = "okay";
};

&fb {
	status = "disabled";
};

&pixelvalve0 {
	interrupts = <2 13>; /* pwa0 */
	status = "okay";
};

&pixelvalve1 {
	interrupts = <2 14>; /* pwa1 */
	status = "okay";
};

&pixelvalve2 {
	interrupts = <2 10>; /* pixelvalve */
	status = "okay";
};

&hvs {
	interrupts = <2 1>;
	status = "okay";
};

&hdmi {
	interrupts = <2 8>, <2 9>;
	status = "okay";
};

&v3d {
	interrupts = <1 10>;
	status = "okay";
};

&gpu {
	status = "okay";
};

&dma {
	brcm,dma-channel-mask = <0x7f35>;
};

&clocks {
	claim-clocks = <
                BCM2835_PLLD_DSI0
                BCM2835_PLLD_DSI1
                BCM2835_PLLH_AUX
                BCM2835_PLLH_PIX
        >;
};

