--- upstream-kernel/drivers/gpu/drm/tinydrm/Kconfig	2018-10-24 15:28:03.040473087 -0400
+++ overlay/drivers/gpu/drm/tinydrm/Kconfig	2018-10-24 19:12:12.304397986 -0400
@@ -73,3 +73,9 @@
 	  * JD-T18003-T01 1.8" 128x160 TFT
 
 	  If M is selected the module will be called st7735r.
+
+config TINYDRM_FT8XX
+       tristate "DRM support for FT8xx display/touch panels"
+       depends on DRM_TINYDRM && SPI
+       help
+         Say Y for ohmbre
\ No newline at end of file
